#File types
.DS_Store
*.jpg
*.jpeg
*.gif
*.png
*.mp3
*.swp

#Speific files and directories

web/favicon.ico
web/assets/comics/
!web/assets/pictures
web/assets/pictures/*
web/assets/cufon-yui.js
web/assets/font/
web/tmp/*
vendor/
.idea/
config.ini
cron.ini
web/cron.log
web/assets/css/bootstrap.min.css
web/assets/css/bootstrap.min.css.map
web/assets/css/font-awesome.min.css
web/assets/js/jquery.min.js
web/assets/js/bootstrap.min.js
web/assets/js/bootstrap.min.js.map
import/
