<include href="app/Views/header.htm" />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-{{ @size }} col-12 center-margin" id="add-btn">
      <div class="float-left">Pages by {{ @viewed_username }}</div>
      <a class="float-right btn btn-light" href="/page/add">Add Page</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-{{ @size }} col-12 center-margin">
      <check if="{{ count(@pages) > 0}} ">
        <true>
          <table class="table table-striped content-list">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th class="col-hide" scope="col">Publish Date</th>
              <th class="col-hide" scope="col">Created Date</th>
              <th scope="col">Status</th>
              <th class="col-hide" scope="col">Created By</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @pages }}" key="{{ @pid }}" value="{{ @row }}" >
              <tr>
                <td><a href="/page/{{ @pid }}">{{ @row['title'] }}</a></td>
                <td class="col-hide">{{ @row['publish_date'] }}</td>
                <td class="col-hide">{{ @row['created_date'] }}</td>
                <td>{{ @row['is_published'] }}</td>
                <td class="col-hide"><a href="/user/{{ @row['user_id'] }}">{{ @row['username'] }}</a></td>
                <td><a href="/page/{{ @pid }}/edit">Edit</a> <a href="/page/{{ @pid }}/delete">Delete</a></td>
              </tr>
            </repeat>
            </tbody>
          </table>
        </true>
        <false>
          <div class="intro text-center">
            Nothing appears to be here.
          </div>
        </false>
      </check>
    </div>
  </div>
</div>

<check if="{{ count(@pages) > 0}} ">
  <true>
    <include href="app/Views/paginator.htm" />
  </true>
</check>
<include href="app/Views/footer.htm" />
