<include href="app/Views/header.htm" />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 center-form">
      <div class="intro text-center">Are you sure you want to this tag: <strong>{{ @tag_name }}</strong></div>
      {{ @form->open_multipart('delete_tag', 'delete_tag') }}
      <div class="row">
        <div class="col-6">
          <button type="submit" name="submit" id="submit" class="btn btn-primary btn-lg btn-block bg-light l-btn">
            Delete
          </button>
        </div>
        <div class="col-6">
          <a class="btn btn-primary btn-lg btn-block bg-light l-btn" href="/admin/tags">Cancel</a>
        </div>
      </div>
      {{ @form->close() }}
    </div>
  </div>
</div>

<include href="app/Views/footer.htm" />