<include href="app/Views/header.htm" />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-12 center-form">
      {{ @form->open_multipart('edit_page', 'edit_page') }}
        <fieldset>
          <h4 class="form-header text-left">Content</h4>
          {{ @form->textarea('page_title', 'Title', @defaults['title']) }}
          {{ @form->file('page_image', 'Image File') }}
          {{ @form->date('publish_date', 'Publish Date', @defaults['publish_date']) }}
          {{ @form->datetime('created_date', 'Date Created', @defaults['created_date']) }}
          <div class="form-check">
            <input type="checkbox" name="is_published" class="form-check-input" id="is-published" {{ @defaults['is_published'] }} >
            <label class="form-check-label" for="is-published">Publish</label>
          </div>
        </fieldset>
        <fieldset>
          <h4 class="form-header text-left">Linked Media</h4>
            {{ @form->select('media_type', 'Media Type', @defaults['media_type'], '', '', '', '', @media_options) }}
            <div id="page-link">
              {{ @form->text('page_link', 'Link', @defaults['page_link']) }}
            </div>
            {{ @form->file('page_media') }}
        </fieldset>
        <fieldset>
          <h4 class="form-header text-left">Tags</h4>
            {{ @form->text('tags', 'Tags', @defaults['tags'], '', '', 'Separate multiple tags with a comma.') }}
        </fieldset>
        <div class="row">
          <div class="col-3">
            <button type="submit" name="submit" id="submit" class="btn btn-primary btn-lg btn-block bg-light l-btn">
              Save
            </button>
          </div>
          <div class="col-3">
            <a class="btn btn-primary btn-lg btn-block bg-light l-btn" href="/admin/content">Cancel</a>
          </div>
          <div class="col-3"></div>
          <div class="col-3">
            <a class="btn btn-primary btn-lg btn-block bg-light l-btn" href="/page/{{ @pid }}/delete">Delete</a>
          </div>
        </div>
      {{ @form->close() }}
    </div>
  </div>
</div>


<include href="app/Views/footer.htm" />
