<include href="{{ @header }}" />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-12 center-form">
      <form action="/page/{{ @pid }}/edit" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <fieldset>
          <h4 class="form-header text-left">Content</h4>
          {{ @form->textarea('page_title', 'Title', @defaults['title']) }}
          {{ @form->file('page_image', 'Image File') }}
          {{ @form->date('publish_date', 'Publish Date', @defaults['publish_date']) }}
          {{ @form->datetime('created_date', 'Date Created', @defaults['created_date']) }}
          <div class="form-check">
            <input type="checkbox" name="is_published" class="form-check-input" id="is-published" {{ @defaults['is_published'] }} >
            <label class="form-check-label" for="is-published">Publish</label>
          </div>
        </fieldset>
        <fieldset>
          <h4 class="form-header text-left">Linked Media</h4>
            {{ @form->select('media_type', 'Media Type', @defaults['media_type'], '', '', '', '', @media_options) }}
            <div id="page-link">
              {{ @form->text('page_link', 'Link', @defaults['page_link']) }}
            </div>
            {{ @form->file('page_media') }}
        </fieldset>
        <fieldset>
          <h4 class="form-header text-left">Tags</h4>
            {{ @form->text('tags', 'Tags', @defaults['tags'], '', '', 'Separate multiple tags with a comma.') }}
        </fieldset>
        <button type="submit" name="submit" id="submit" class="user-option btn btn-primary btn-lg btn-block">
          Update page
        </button>
      </form>
      <a class="user-option btn btn-primary btn-lg btn-block" href="/user/{{ @logged_user }}">Cancel</a>
    </div>
  </div>
</div>


<include href="{{ @footer }}" />