			</div>
			<footer class="footer">
				<div class="container-fluid text-right">
					<span class="text-muted">{{ date('Y') }} <span id="copyright">&copy;</span> Built by a lactard.</span>
				</div>
			</footer>

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/audiojs/audio.min.js"></script>
			<script src="/assets/js/custom.js"></script>
			<script src="/assets/js/bootstrap.min.js"></script>

			<script>
				audiojs.events.ready(function() {
					var as = audiojs.createAll();
				});
			</script>

			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-24352544-5']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>
		</div>
	</body>
</html>
