			</div>
			<footer class="footer">
				<div class="container-fluid text-right">
					<span class="text-muted">{{ date('Y') }} <span id="copyright">&copy;</span> The Forest Giant.</span>
				</div>
			</footer>

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/audiojs/audio.min.js"></script>
			<script src="/assets/js/custom.js"></script>
			<script src="/assets/js/bootstrap.min.js"></script>

			<script>
				audiojs.events.ready(function() {
					var as = audiojs.createAll();
				});
			</script>
		</div>
	</body>
</html>
