<include href="app/Views/header.htm" />

<div class="container-fluid">
	<div class="row">

		<div class="col-md-1 order-md-1 col-3 order-1">
			<check if="{{ @pid != @first }}">
				<true>
					<a class="img" id="first" href="{{ @path }}{{ @first }}">
						<img src="/assets/images/first.png" alt="first">
					</a>
				</true>
			</check>
		</div>

		<div class="col-md-1 order-md-2 col-3 order-2">
			<check if="{{ @pid != @first }}">
				<true>
					<a class="img" id="previous" href="{{ @path }}{{ @previous }}">
						<img src="/assets/images/previous.png" alt="previous">
					</a>
				</true>
			</check>
		</div>

		<div class="col-md-8 order-md-3 col-12 order-5">
			<div id="picture" class="text-center">
				<img class="img-fluid" src="/assets/pictures/{{ @filename }}" />
			</div>
		</div>

		<div class="col-md-1 order-md-4 col-3 order-3">
			<check if="{{ @pid != @last }}">
				<true>
					<a class="img" id="next" href="{{ @path }}{{ @next }}">
						<img src="/assets/images/next.png" alt="next">
					</a>
				</true>
			</check>
		</div>

		<div class="col-md-1 order-md-5 col-3 order-4">
			<check if="{{ @pid != @last }}">
				<true>
					<a class="img" id="last" href="{{ @path }}{{ @last }}">
						<img src="/assets/images/last.png" alt="last">
					</a>
				</true>
			</check>
		</div>
	</div>


	<div class="row">
			<div class="col-md-2 col-2" id="media-col">
				<!-- if there's a media type for audio this happens -->
				<check if="{{ @media_type == 'audio' }} ">
					<true>
						<div id="media_type">
							<a class="img" id="listen" href="#listen">
								<img src="/assets/images/sound.png" alt="sound">
							</a>
						</div>
					</true>
				</check>

				<check if="{{ @media_type == 'link' }}">
					<true>
						<div id="media-type">
							<a class="img" id="link" href="{{ @media }}" target="_blank">
								<img src="/assets/images/visual.png" alt="visual">
							</a>
						</div>
					</true>
				</check>
			</div>
			<div class="col-md-8 col-8" id="title">
				<div>{{ html_entity_decode( @title ) }}</div>
			</div>

			<div class="col-md-2 col-2" id="random-col">
				<check if="{{ @count > 1 }}" >
					<true>
						<a class="img" id="random" href="/random">
							<img src="/assets/images/random.png" alt="random">
						</a>
					</true>
				</check>
			</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-12 text-center d-block">
			<check if="{{ @media_type == 'audio' }} ">
				<true>
					<div id="audio-player">
						<audio src="/assets/audio/{{ @media }}" />
					</div>
				</true>
			</check>
		</div>
	</div>
</div>

<div class="container-fluid" id="action-items">
	<div class="row">
		<div class="col text-center">
			<div id="date">{{ @page_date }}</div>
			<check if="{{ trim(@site_email) !== '' }}" >
				<true>
					<a class="img" href="mailto:{{ @site_email }}">
						<img src="/assets/images/contact.png" alt="mailto">
					</a>
				</true>
			</check>
		</div>
	</div>
</div>

<include href="/app/Views/footer.htm" />
	
