<include href="{{ @header }}" />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-12 center-margin">
      <table class="table table-striped content-list">
        <thead>
          <tr>
            <th scope="col">Tag</th>
            <th scope="col">Uses</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @tags }}" key="{{ @id }}" value="{{ @row }}" >
            <tr>
              <td><a href="/group/{{ @row['tag'] }}">{{ @row['tag'] }}</a></td>
              <td>{{ @row['uses'] }}</td>
              <td><a href="/tag/{{ @row['tag'] }}/edit">Edit</a> <a href="/tag/{{ @row['tag'] }}/delete">Delete</a></td>
            </tr>
          </repeat>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-12 center-margin">
      <nav aria-label="Tag List">
        <ul class="pagination">
          <check if="@position == 1">
            <true>
              <li class="page-item disabled"><a class="page-link" href="/admin/tags/{{ @position - 1 }}"><<</a></li>
            </true>
            <false>
              <li class="page-item"><a class="page-link" href="/admin/tags/{{ @position - 1 }}"><<</a></li>
            </false>
          </check>
          <loop from="{{ @i = 1 }}" to="{{ @i <= @page_count }}" step="{{ @i++ }}">
            <check if="{{ @position == @i }}">
              <true>
                <li class="page-item active"><div class="page-link">{{ @i }}</div></li>
              </true>
              <false>
                <li class="page-item"><a class="page-link" href="/admin/tags/{{ @i }}">{{ @i }}</a></li>
              </false>
            </check>

          </loop>
          <check if="@position == @page_count">
            <true>
              <li class="page-item disabled"><a class="page-link" href="/admin/tags/{{ @position + 1 }}">>></a></li>
            </true>
            <false>
              <li class="page-item"><a class="page-link" href="/admin/tags/{{ @position + 1 }}">>></a></li>
            </false>
          </check>

        </ul>
      </nav>
    </div>
  </div>
</div>

<include href="{{ @footer }}" />
