<include href="app/Views/header.htm" />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-{{ @size }} col-12 center-margin">
      <table class="table table-striped content-list">
        <thead>
          <tr>
            <th scope="col">Tag</th>
            <th scope="col">Uses</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @tags }}" key="{{ @id }}" value="{{ @row }}" >
            <tr>
              <td><a href="/group/{{ @row['tag'] }}">{{ @row['tag'] }}</a></td>
              <td>{{ @row['uses'] }}</td>
              <td><a href="/tag/{{ @row['tag'] }}/edit">Edit</a> <a href="/tag/{{ @row['tag'] }}/delete">Delete</a></td>
            </tr>
          </repeat>
        </tbody>
      </table>
    </div>
  </div>
</div>

<include href="app/Views/paginator.htm" />
<include href="app/Views/footer.htm" />

