<include href="app/Views/header.htm" />

<div class="container-fluid">
  <div class="row">
    <check if="{{ @SESSION.uid === 1}}">
      <true>
        <div class="col-sm-{{ @size }} col-12 text-right center-margin" id="add-btn">
          <a class="btn btn-light" href="/user/add">Add User</a>
        </div>
      </true>
    </check>
  </div>
  <div class="row">
    <div class="col-sm-{{ @size }} col-12 center-margin">
      <table class="table content-list">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @users }}" key="{{ @id }}" value="{{ @row }}" >
            <tr>
              <td>{{ @id }}</td>
              <td><a href="/user/{{ @id }}">{{ @row['username'] }}</a></td>
              <td>

                <a href="/user/{{ @id }}/edit">Edit</a>

                <check if="{{@id === 1}}">
                  <false>
                    <check if="{{ @SESSION.uid === 1}}">
                      <true>
                        <a href="/user/{{ @id }}/delete">Delete</a>
                      </true>
                    </check>
                  </false>
                </check>

              </td>
            </tr>
          </repeat>
        </tbody>
      </table>
    </div>
  </div>
</div>

<include href="app/Views/paginator.htm" />
<include href="app/Views/footer.htm" />
