<include href="{{ @header }}" />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-12 text-center">
      Welcome {{ @username }}!
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12 center-form">
      <check if="{{ @logged_user == 1 && @viewed_user != 1 }}" >
        <true>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/user/1" role="button">Back to Admin</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/user/{{ @viewed_user }}/edit" role="button">Edit</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a id="delete-btn" class="user-option btn btn-primary btn-lg btn-block" href="/user/{{ @viewed_user }}/delete" role="button">Delete</a>
            </div>
          </div>
        </true>
      </check>
      <check if="{{ @logged_user == @viewed_user }}">
        <true>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/" role="button">Home</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/page/add" role="button">Add Page</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <check if="{{ @logged_user == 1 }}" >
                <true>
                  <a class="user-option btn btn-primary btn-lg btn-block" href="/user/add" role="button">Add User</a>
                </true>
              </check>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/pages/edit" role="button">Edit Pages</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="user-option btn btn-primary btn-lg btn-block" href="/logout" role="button">Logout</a>
            </div>
          </div>
        </true>
      </check>
    </div>

<include href="{{ @footer }}" />